# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
/build/
dist-electron/
*.tsbuildinfo
.turbo/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
playwright-report/
test-results/
playwright/.cache/
node_modules/pw-browsers/

# Electron
release/
installer/
dist-installer/
electron-stdout.txt
electron-stderr.txt
renderer-debug.log

# Expo
.expo/

# Vercel
.ver/

# Sentry
.sentryclirc

# Temporary
tmp/
temp/
